## Introduction to Pandas

My name is Adeke Mary. Iam pursuing a Bachelor of Information Technology at MUST

In [ ]:
#Create a Pandas Series object containing the following data: 5, 10, 15, 20, 25. What is the average of the values in the Series?

The average is: 15.0

In [ ]:

# construct a serie usind series() function
import pandas as pd
data = pd.Series([5, 10, 15, 20, 25])

#calculate the mean of the series using mean() function
average = data.mean()
print("The average is:", average)

In [6]:
# Create a dictionary containing the data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}

# Create a DataFrame object from the dictionary
import pandas as pd
df = pd.DataFrame(data)

# Calculate the total salary of all employees by using the `.sum()` method on the 'Salary' column
total_salary = df['Salary'].sum()

# Print the total salary of all employees
print("The total salary of all employees is:", total_salary)

The total salary of all employees is: 180000

## DataFrames and Series

In [7]:
# Create a Pandas Series object containing the data
import pandas as pd
data = pd.Series([1, 2, 3, 4, 5])

# Add 10 to each value in the Series using the `+` operator
updated_data = data + 10

# Print the updated Series
print(updated_data)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [9]:
# Import the pandas library
import pandas as pd

# Create a dictionary containing the data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}

# Create a DataFrame object from the dictionary
df = pd.DataFrame(data)

# Select only the rows where the Age is greater than 30 using boolean indexing
# First, create a boolean mask by comparing the 'Age' column to 30
mask = df['Age'] > 30

# Then, use the boolean mask to select only the rows where the Age is greater than 30
selected_rows = df[mask]

# Print the selected rows
print(selected_rows)

# Create a dictionary containing the data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}

# Create a DataFrame object from the dictionary
df = pd.DataFrame(data)

# Select only the rows where the Age is greater than 30 using boolean indexing
# First, create a boolean mask by comparing the 'Age' column to 30
mask = df['Age'] > 30

# Then, use the boolean mask to select only the rows where the Age is greater than 30
selected_rows = df[mask]

# Print the selected rows
print(selected_rows)

      Name  Age  Salary
2  Charlie   35   70000
      Name  Age  Salary
2  Charlie   35   70000

## Loading Data into Pandas

In [12]:
#Load a CSV file named 'diabetes.csv' into a Pandas DataFrame object. What are the names of the columns in the DataFrame?
#Please check your data folder for this dataset

df = pd.read_csv('diabetes.csv')
print("The column names in the DataFrame are:")
print(df.columns)

The column names in the DataFrame are:
Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [13]:
#Display the dimensions of the data
# Display the dimensions of the DataFrame
print(df.shape)

(768, 9)

In [26]:
#Display the top 10 rows
#use head function and specify by calling 10 top lines
print(df.head(10))

NameError: name 'df' is not defined

In [15]:
#Display the last 10 rows

print(df.tail(10))

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

## Data Cleaning

In [16]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. 
# Remove all rows with missing values

# Create a Pandas DataFrame object
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}
df = pd.DataFrame(data)




# Drop all rows with missing values and update the DataFrame in place
df.dropna(inplace=True)

print(df)

    Name   Age   Salary
0  Alice  25.0  50000.0
3   Dave  35.0  80000.0
4    Eve  40.0  90000.0

In [17]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}. 
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, None, 35, 40], 'Salary': [50000, None, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# Fill all missing values with the average Age and the median Salary.
# create the DataFrame
 # calculate the average Age
average_age = df['Age'].mean()

  # calculate the median Salary
median_salary = df['Salary'].median()

# fill missing values with the average Age and median Salary
  # calculate the average Age
df['Age'].fillna(average_age, inplace=True)
 # calculate the median Salary
df['Salary'].fillna(median_salary, inplace=True)


# print the updated DataFrame
print(df)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  75000.0
2  Charlie  32.5  70000.0
3     Dave  35.0  80000.0
4      Eve  40.0  90000.0

C:\Users\YOGA\AppData\Local\Temp\ipykernel_24228\2150937208.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(average_age, inplace=True)
C:\Users\YOGA\AppData\Local\Temp\ipykernel_24228\2150937208.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(median_salary, inplace=True)

## Data Exploration

In [18]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. What is the maximum Age and minimum Salary in the DataFrame?

# create the DataFrame

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)

# find the maximum age and minimum salary using the max() and min() functions
max_age = df['Age'].max()
min_salary = df['Salary'].min()


# print the results
print("Maximum Age:", max_age)
print("Minimum Salary:", min_salary)

Maximum Age: 35
Minimum Salary: 50000

In [20]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}. Calculate the correlation coefficient between Age and Salary.
# create the dataframe
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)


# calculate the correlation coefficient
correlation = df['Age'].corr(df['Salary'])


# print the correlation coefficient
print("Correlation coefficient between Age and Salary:", correlation)

Correlation coefficient between Age and Salary: 1.0

## Grouping and Aggregating Data

In [21]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'], 'Age': [25, 30, 35, 25, 30], 'Salary': [50000, 60000, 70000, 80000, 90000]}. Group the DataFrame by Age and calculate the mean Salary for each group.

# create a dictionary with Name, Age and Salary as keys and their corresponding values

# create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)


# group the DataFrame by Age and calculate the mean Salary for each group
mean_salary_by_age = df.groupby('Age')['Salary'].mean()


# print the resulting Series
print(mean_salary_by_age)

Age
25    50000.0
30    60000.0
35    70000.0
Name: Salary, dtype: float64

## Reshaping Data

In [23]:
#Create a Pandas DataFrame object containing the following data: {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}.
# Pivot the DataFrame so that the rows are indexed by Year, the columns are indexed by Quarter, and the values are the Sales.


# create the initial DataFrame
data = {'Year': [2019, 2019, 2020, 2020], 'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'], 'Sales': [100, 200, 300, 400]}
df = pd.DataFrame(data)

# use pivot to reorganize the DataFrame
pivot_df = df.pivot(index='Year', columns='Quarter', values='Sales')

# display the resulting DataFrame
print(pivot_df)

Quarter   Q1   Q2
Year
2019     100  200
2020     300  400

In [26]:
#Create a Pandas DataFrame object containing the following data: {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}. Melt the DataFrame so that the variable column contains the years and the value column contains the salaries.

# Create a Pandas DataFrame object
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Gender': ['F', 'M', 'M'], 'Salary 2019': [50000, 60000, 70000], 'Salary 2020': [55000, 65000, 75000]}

df = pd.DataFrame(data)


# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['Name', 'Gender'], var_name='Year', value_name='Salary')


# Print the melted DataFrame
print(melted_df)

      Name Gender         Year  Salary
0    Alice      F  Salary 2019   50000
1      Bob      M  Salary 2019   60000
2  Charlie      M  Salary 2019   70000
3    Alice      F  Salary 2020   55000
4      Bob      M  Salary 2020   65000
5  Charlie      M  Salary 2020   75000

## Merging and Joining Data

In [27]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]}. Merge the two DataFrames using an inner join on the 'key' column.
# create df1
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})

# create df2
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})

# merge the two DataFrames using an inner join on the 'key' column
merged_df = pd.merge(df1, df2, on='key', how='inner', suffixes=('_df1', '_df2'))

# print the merged DataFrame
print(merged_df)

  key  value_df1  value_df2
0   B          2          5
1   D          4          6

In [28]:
#Create two Pandas DataFrame objects, df1 and df2, containing the following data: df1 = {'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]} and df2 = {'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]}. 
# Perform a left join on df1 and df2 using the 'key' column as the join key.
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]})

# create df2
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]})

# Perform a left join on df1 and df2 using the 'key' column as the join key
left_join_df = pd.merge(df1, df2, on='key', how='left')

# print the resulting DataFrame
print(left_join_df)

  key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

## Mini Pandas Project

- Load the CSV file into a Pandas DataFrame object.
- Clean the data by removing any rows with missing values and any duplicate rows.
- Use NumPy to calculate the mean and standard deviation of the "births" column.
- Use Pandas to group the data by year and month, and calculate the mean number of births for each group.
- Use Matplotlib to create a line plot of the mean number of births per month over time.
- Use Pandas to group the data by day of the week, and calculate the mean number of births for each day.
- Use Matplotlib to create a bar chart of the mean number of births per day of the week.
- Use Pandas to group the data by year, and calculate the total number of births for each year.
- Use Matplotlib to create a bar chart of the total number of births per year.

>> NOTE: Below is boiler code for you to get started with.Please fill in the missing codes.

In [ ]:
mean_births

In [18]:
import matplotlib.pyplot as plt

# Load the CSV file into a Pandas DataFrame object
df = pd.read_csv('births.csv')

# Clean the data by removing any rows with missing values and any duplicate rows
df = df.dropna()
df = df.drop_duplicates()

# Use NumPy to calculate the mean and standard deviation of the "births" column
births_mean = np.mean(df['births'])
births_std = np.std(df['births'])

# Use Pandas to group the data by year and month, and calculate the mean number of births for each group
df['date'] = pd.to_datetime(df[['year', 'month']].assign(day=1))
mean_births = df.groupby(['year', 'month'])['births'].mean().reset_index()
mean_births['date'] = pd.to_datetime(mean_births[['year', 'month']].assign(day=1))

# print(mean_births)
# mean_births.plot()

# Use Matplotlib to create a line plot of the mean number of births per month over time
plt.figure(figsize=(10, 6))
plt.plot(mean_births['date'], mean_births['births'])
plt.title('Mean Number of Births per Month Over Time')
plt.xlabel('Date')
plt.ylabel('Mean Births')
plt.grid(True)
plt.show()

# Use Pandas to group the data by day of the week, and calculate the mean number of births for each day
df['date'] = pd.to_datetime(df[['year', 'month', 'day']], errors='coerce')
df['day_of_week'] = df['date'].dt.day_name()
mean_births_by_day = df.groupby('day_of_week')['births'].mean().reindex(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

# Use Matplotlib to create a bar chart of the mean number of births per day of the week
plt.figure(figsize=(10, 6))
mean_births_by_day.plot(kind='bar')
plt.title('Mean Number of Births by Day of the Week')
plt.xlabel('Day of the Week')
plt.ylabel('Mean Births')
plt.xticks(rotation=45)
plt.grid(True, axis='y')
plt.show()

# Use Pandas to group the data by year, and calculate the total number of births for each year
total_births_by_year = df.groupby('year')['births'].sum()

# Use Matplotlib to create a bar chart of the total number of births per year
plt.figure(figsize=(10, 6))
total_births_by_year.plot(kind='bar')
plt.title('Total Number of Births per Year')
plt.xlabel('Year')
plt.ylabel('Total Births')
plt.grid(True, axis='y')
plt.show()

ImportError: cannot import name 'mplDeprecation' from 'matplotlib._api.deprecation' (c:\Users\YOGA\anaconda3\lib\site-packages\matplotlib\_api\deprecation.py)